@import url('https://fonts.googleapis.com/css2?family=Hanuman:wght@100;300;400;700;900&display=swap&family=Work+Sans:wght@200;400;500;600;700&display=swap&family=Spicy+Rice');

@tailwind base;
@tailwind components;
@tailwind utilities;



html,
body {
  min-height: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: 'Hanuman', 'Work Sans', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

  background-color: rgb(240, 240, 240);
  color: rgb(40, 40, 40)
}

#__next {
  height: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* Custom/Overrides */

ol {
  list-style: decimal;
}

/* Misc */
.bg-gold {
  background-color: #ffe34b40;
}

/* Text */
h1 {
  font-size: x-large;
  font-weight: bold;
}

/* Grid */
.grid-auto-fit {
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }

  body {
    color: white;
    background: rgb(43, 43, 43);
  }
} */